.toast {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 5;
}
.message,
.message-show {
  position: relative;
  width: 0px;
  overflow: hidden;
  height: 35px;
  font-size: 0rem;
  background: white;
  color: #65c265;
  border: 1px solid #65c265aa;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
}

@keyframes toastMssg {
  0%,
  100% {
    opacity: 0;
    width: 0px;
    font-size: 0rem;
  }
  30%,
  50%,
  70% {
    width: 200px;
    opacity: 1;
    font-size: 0.8rem;
  }
}

@keyframes toastMssgError {
  0%,
  100% {
    opacity: 0;
    width: 0px;
    font-size: 0rem;
  }
  30%,
  50%,
  70% {
    width: 200px;
    opacity: 1;
    font-size: 0.6rem;
  }
}

.sm-box {
  width: 3%;
  height: 35px;
  background-color: #65c265aa;
  border-radius: 5px;
}
.sm-msg {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.contact-div {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff4d4d;
  user-select: none;
}

.contact-inner-div {
  width: 100%;
  height: 100%;
  background-color: #ecd9bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading,
.sub-heading,
.button-container {
  width: 100%;
  font-family: TulpenOne;
  font-size: 4rem;
  font-weight: bold;
  color: #ff4d4d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  text-shadow: 2px 2px 5px white;
  letter-spacing: 2px;
}
.sub-heading {
  width: 80%;
  margin: 20px;
  font-size: 2rem;
  font-family: Teko;
  font-weight: normal;
  color: #252525;
}

.button {
  margin: 20px;
  width: 150px;
  height: 50px;
  border: 2px solid #ff4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Teko;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #252525;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: ease 500ms;
  text-decoration: none;
  border-radius: 20px;
}
.button-sm {
  margin: 20px;
  width: 150px;
  height: 50px;
  border: 2px solid #ff4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Teko;
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 20px;
  background: transparent;
  color: #252525;
}

.button-sm:active {
  background: white;
  color: #ff4d4d;
}

.button-hover-cover {
  height: 50px;
  z-index: 1;
  background-color: white; /* margin: 20px; */
  margin-top: -72px;
  width: 0px;
  /* border: 2px solid #ff4d4d; */
  border-left: 0;
  border-right: 0;
  transition: ease 500ms;
  border-radius: 20px;
}

.button:hover {
  color: #ff4d4d;
}
.button:hover + .button-hover-cover {
  width: 150px;
}

.link-container {
  position: absolute;
  top: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.link-container > a {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #252525;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 300ms;
}
.link-1-sm,
.link-2-sm {
  transition: none;
}

.link-logo-1,
.link-logo-2 {
  width: 30px;
  height: 30px;
  color: #252525;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 68%,
    rgba(37, 37, 37, 1) 68%,
    rgba(37, 37, 37, 1) 100%
  );
}
.link-logo-2 {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 65%,
    rgba(37, 37, 37, 1) 65%,
    rgba(37, 37, 37, 1) 100%
  );
}

.link-1:hover {
  background-color: #0072b1;
  border-radius: 50%;
}

.link-1:hover .link-logo-1 {
  color: #0072b1;
  background: radial-gradient(circle, white 68%, #0072b1 68%, #0072b1 100%);
}

.link-2:hover {
  background-color: white;
  border: 1px solid #252525;
  border-radius: 50%;
}

.link-2:hover .link-logo-2 {
  color: white;
  background: radial-gradient(circle, #252525 65%, white 65%, white 100%);
}

/* #0072b1 */
